.version.bio /* version checker */
{
	color: #00001B;
	background-color: #CE19B3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 796.65px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px 62.35000000000002px;
}

#u2406
{
	z-index: 32;
	width: 368px;
	margin-left: 306px;
	position: relative;
}

#menuu1611
{
	z-index: 2;
	width: 980px;
	position: relative;
}

#u2028
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
}

#u2029
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u2032-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029:hover #u2032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1957
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1958
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029.MuseMenuActive,#u1958.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u1960-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029.MuseMenuActive #u2032-4,#u1958:hover #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1958.MuseMenuActive #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1619
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1622
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1623-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622:hover #u1623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1633
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 736px;
}

#u1634
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1622.MuseMenuActive,#u1634.MuseMenuActive
{
	width: 244px;
	min-height: 0px;
	margin: 0px;
}

#u1636-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622.MuseMenuActive #u1623-4,#u1634:hover #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2180
{
	z-index: 38;
	width: 0.01px;
	height: 501px;
	margin-left: 77px;
	margin-top: 8px;
	position: relative;
}

#u2181
{
	position: absolute;
	width: 827px;
	background-color: transparent;
}

#u2181popup
{
	z-index: 39;
}

#u2182
{
	z-index: 40;
	width: 827px;
	height: 498px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2444
{
	z-index: 41;
	width: 818px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2177
{
	z-index: 42;
	width: 818px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u983-4
{
	z-index: 43;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 120px;
	position: relative;
}

#u2081-8
{
	z-index: 52;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 120px;
	margin-top: 269px;
	position: relative;
}

#u991-5
{
	z-index: 47;
	width: 818px;
	min-height: 94px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u991-2
{
	font-weight: 700;
}

#u2434
{
	z-index: 60;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 221px;
}

#u2189
{
	z-index: 62;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 1px;
}

#u2190
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.ie #u2190
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2190.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2190.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2053
{
	width: 0.01px;
	margin-left: 284px;
	margin-top: -28px;
}

#u2053
{
	z-index: 28;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
}

#u2054
{
	z-index: 29;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u2052
{
	z-index: 27;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u2055
{
	z-index: 30;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u2064
{
	z-index: 31;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 352px;
}

#u2053:hover,#u2054:hover,#u2052:hover,#u2055:hover,#u2064:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2598-4
{
	z-index: 34;
	width: 239px;
	min-height: 30px;
	margin-left: 370px;
	margin-top: 13px;
	position: relative;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1020px;
}

