.Character-Style
{
	font-family: maven-pro-n9, sans-serif;
}

#u2032-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1960-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1623-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1636-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u2598-4
{
	font-family: maven-pro-n4, sans-serif;
}

#u2010-3,#u2010-5,#u2010-6,#u2010-8,#u2010-9,#u2010-10,#u2010-11,#u2010-12,#u2010-13,#u2010-14,#u2010-15,#u2010-16,#u2010-17,#u2010-18,#u2010-19,#u2010-20,#u2010-21,#u2010-22,#u2010-23,#u2010-24,#u2010-25,#u2010-26,#u2010-27,#u2010-28,#u2010-29,#u2010-30,#u2010-31,#u2010-32,#u2010-33
{
	font-family: maven-pro-n4, sans-serif;
}

#u2010-2,#u2010-34,#u2010-35
{
	font-family: maven-pro-n9, sans-serif;
}

