.Character-Style
{
	font-family: maven-pro-n9, sans-serif;
}

#u2032-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1960-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1623-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1636-4
{
	font-family: maven-pro-n9, sans-serif;
}


#u2010-5,#u2010-6,#u2010-8
{
	font-family: maven-pro-n4, sans-serif;
}

#u2010-2,#u2010-3,#u2010-9,#u2010-10
{
	font-family: maven-pro-n9, sans-serif;
}

