.Character-Style
{
	font-family: maven-pro-n9, sans-serif;
}

#u2032-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1960-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1623-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u1636-4
{
	font-family: maven-pro-n9, sans-serif;
}

#u2598-4
{
	font-family: maven-pro-n4, sans-serif;
}


