.version.index /* version checker */
{
	color: #0000FE;
	background-color: #BC48DB;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 380px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 75px;
	margin-left: auto;
	margin-right: auto;
}

#pu2406
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 20px;
}

#u2406
{
	z-index: 32;
	width: 368px;
	margin-left: 306px;
	position: relative;
}

#menuu1611
{
	z-index: 2;
	width: 980px;
	position: relative;
}

#u2028
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
}

#u2029
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u2032-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029:hover #u2032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1957
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1958
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029.MuseMenuActive,#u1958.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u1960-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029.MuseMenuActive #u2032-4,#u1958:hover #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1958.MuseMenuActive #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1619
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1622
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1623-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622:hover #u1623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1633
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 736px;
}

#u1634
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1622.MuseMenuActive,#u1634.MuseMenuActive
{
	width: 244px;
	min-height: 0px;
	margin: 0px;
}

#u1636-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622.MuseMenuActive #u1623-4,#u1634:hover #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u392-4
{
	z-index: 34;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 200px;
	margin-top: 22px;
	position: relative;
}

#u2053
{
	z-index: 28;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u2054
{
	z-index: 29;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u2052
{
	z-index: 27;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u2055
{
	z-index: 30;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 568px;
}

#u2064
{
	z-index: 31;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 656px;
}

#u2053:hover,#u2054:hover,#u2052:hover,#u2055:hover,#u2064:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1020px;
}

.verticalspacer
{
	margin-bottom: -71px;
	min-height: 105px;
}

