.version.live /* version checker */
{
	color: #000001;
	background-color: #55E314;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 481.65px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px 62.35000000000002px;
}

#u2406
{
	z-index: 32;
	width: 368px;
	margin-left: 306px;
	position: relative;
}

#menuu1611
{
	z-index: 2;
	width: 980px;
	position: relative;
}

#u2028
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
}

#u2029
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u2032-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029:hover #u2032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1957
{
	width: 243px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1958
{
	width: 243px;
	padding-bottom: 43px;
	position: relative;
}

#u2029.MuseMenuActive,#u1958.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u1960-4
{
	width: 243px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u2029.MuseMenuActive #u2032-4,#u1958:hover #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1958.MuseMenuActive #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 243px;
	margin: 0px -10000px 0px 0px;
}

#u1619
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1622
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1623-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622:hover #u1623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1633
{
	width: 244px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 736px;
}

#u1634
{
	width: 244px;
	padding-bottom: 43px;
	position: relative;
}

#u1622.MuseMenuActive,#u1634.MuseMenuActive
{
	width: 244px;
	min-height: 0px;
	margin: 0px;
}

#u1636-4
{
	width: 244px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u1622.MuseMenuActive #u1623-4,#u1634:hover #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#u1634.MuseMenuActive #u1636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 244px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2486
{
	z-index: 38;
	width: 0.01px;
	height: 165px;
	padding-bottom: 29px;
	margin-left: 184px;
	margin-top: 18px;
	position: relative;
}

#u2495
{
	z-index: 39;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
}

#u2496
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.ie #u2496
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2496.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2496.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2487
{
	position: absolute;
	width: 611px;
	background-color: transparent;
}

#u2487popup
{
	z-index: 41;
}

#u2488
{
	z-index: 42;
	width: 611px;
	height: 194px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2010-12
{
	z-index: 43;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	text-transform: uppercase;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u2010-2,#u2010-3
{
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

#u2010-5,#u2010-6,#u2010-8
{
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u2010-9,#u2010-10
{
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2053
{
	width: 0.01px;
	margin-left: 284px;
	margin-top: -46px;
}

#u2053
{
	z-index: 28;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
}

#u2054
{
	z-index: 29;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u2052
{
	z-index: 27;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u2055
{
	z-index: 30;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u2064
{
	z-index: 31;
	width: 60px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	left: 352px;
}

#u2053:hover,#u2054:hover,#u2052:hover,#u2055:hover,#u2064:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2598-4
{
	z-index: 34;
	width: 239px;
	min-height: 30px;
	margin-left: 370px;
	margin-top: 13px;
	position: relative;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1020px;
}

