#menuu1611
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u2029
{
	background-color: #000000;
}

#u2032-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

#u2029:hover #u2032-4 p
{
	color: #787878;
	visibility: inherit;
}

#u1958
{
	background-color: #000000;
}

#u1960-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

#u1958:hover #u1960-4 p
{
	color: #787878;
	visibility: inherit;
}

#u1622
{
	background-color: #000000;
}

#u1623-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

#u1622:hover #u1623-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2406,#u2028,#u1957,#u1619,#u1633
{
	background-color: transparent;
}

#u1634
{
	background-color: #000000;
}

#u1636-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
}

#u1634:hover #u1636-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2029.MuseMenuActive #u2032-4 p,#u1958.MuseMenuActive #u1960-4 p,#u1622.MuseMenuActive #u1623-4 p,#u1634.MuseMenuActive #u1636-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: underline;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2053
{
	border-width: 0px;
	border-color: transparent;
	background: #7F7F7F url("../images/facebook.png") no-repeat center center;
}

#u2053:hover
{
	background: #141414 url("../images/facebook.png") no-repeat center center;
}

#u2054
{
	border-width: 0px;
	border-color: transparent;
	background: #7F7F7F url("../images/vimeo.png") no-repeat center center;
}

#u2054:hover
{
	background: #141414 url("../images/vimeo.png") no-repeat center center;
}

#u2052
{
	border-width: 0px;
	border-color: transparent;
	background: #7F7F7F url("../images/twitter.png") no-repeat center center;
}

#u2052:hover
{
	background: #141414 url("../images/twitter.png") no-repeat center center;
}

#u2055
{
	border-width: 0px;
	border-color: transparent;
	background: #7F7F7F url("../images/youtube.png") no-repeat center center;
}

#u2055:hover
{
	background: #141414 url("../images/youtube.png") no-repeat center center;
}

#u2064
{
	border-width: 0px;
	border-color: transparent;
	background: #7F7F7F url("../images/soundcloud.png") no-repeat center center;
}

#u2064:hover
{
	background: #141414 url("../images/soundcloud.png") no-repeat center center;
}

#u2598-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
}


