	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1953px;
		max-width: 1280px;
	}

	#pu1388
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 150%;
		margin-left: -25%;
	}

	#u1388
	{
		z-index: 8;
		width: 1920px;
		height: 1080px;
		background-color: transparent;
		position: relative;
		margin-left: 50%;
		left: -960px;
	}

	#u1404
	{
		z-index: 10;
	}

	#u1432
	{
		z-index: 12;
		width: 1920px;
		height: 1080px;
		background-color: transparent;
		position: relative;
		margin-left: 50%;
		left: -960px;
	}

	#U2738_animation,#U2733_animation
	{
		width: 1920px;
		height: 1080px;
		border: none;
	}

	#u1365
	{
		z-index: 9;
	}

	#teaser
	{
		margin-top: 1080px;
	}

	#u1522-4
	{
		z-index: 51;
		margin-top: 1262px;
		margin-left: 0%;
		left: 0px;
	}

	#about,#u3258
	{
		margin-top: 2160px;
	}

	#contact
	{
		margin-top: 3240px;
	}

	#u1502-9
	{
		z-index: 42;
		margin-top: 3631px;
	}

	#menuu168
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		left: -50%;
		margin-left: 393.5px;
		width: 100%;
		max-width: 787px;
	}

	#u1444
	{
		min-height: 58px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 24.78%;
	}

	#u1447
	{
		background-color: transparent;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u176
	{
		min-height: 58px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 24.78%;
		left: 25.04%;
	}

	#u177
	{
		background-color: transparent;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u234
	{
		min-height: 58px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 24.78%;
		left: 50.07%;
	}

	#u235
	{
		background-color: transparent;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u213
	{
		min-height: 58px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 24.91%;
		left: 75.1%;
	}

	#u214
	{
		background-color: transparent;
		padding-bottom: 22px;
		position: relative;
		width: 100%;
	}

	#u1447.MuseMenuActive,#u177.MuseMenuActive,#u235.MuseMenuActive,#u214.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1449-4,#u178-4,#u236-4,#u215-4
	{
		position: relative;
		margin-right: -10000px;
		top: 11px;
		width: 100%;
	}

	#u1449-4_clip,#u178-4_clip,#u236-4_clip,#u215-4_clip
	{
		overflow: hidden;
		height: 36px;
		vertical-align: top;
		width: 100%;
	}

	#u1449-4_img,#u178-4_img,#u236-4_img,#u215-4_img
	{
		display: block;
		width: 100%;
	}

	#menuu168-wrapper
	{
		position: fixed;
		top: 20px;
		z-index: 17;
		left: 50%;
		margin-left: -394px;
		width: 61.49%;
		max-width: 787px;
	}

	#u1525
	{
		z-index: 55;
		margin-top: 1372px;
	}


