.version.index /* version checker */
{
	color: #000000;
	background-color: #5A4B1D;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5701149425277px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -2316px;
	padding-bottom: 71px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -759px;
	position: relative;
}

#pu4910
{
	width: 0.01px;
	margin-top: 112px;
}

#u4910
{
	z-index: 2;
	height: 158px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4910-bw
{
	z-index: 2;
	height: 158px;
}

#accordionu5245
{
	z-index: 97;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
}

#u5254
{
	z-index: 98;
	background-color: transparent;
}

#u5257-4
{
	z-index: 99;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5257-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u5257-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u5257-4.AccordionPanelTabOpen
{
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u5257-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u5255
{
	z-index: 103;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
}

#u5256-4
{
	z-index: 104;
	width: 340px;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#accordionu5245-bw
{
	z-index: 97;
	margin-top: -1px;
}

#pu4912-3
{
	width: 0.01px;
}

#u4912-3
{
	z-index: 4;
	min-height: 158px;
	background-color: #000000;
}

#u4912-3-bw
{
	z-index: 4;
	min-height: 158px;
}

#live
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u4918-4
{
	z-index: 18;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing: 0px;
	line-height: 12px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
}

#u4918-4-bw
{
	z-index: 18;
	min-height: 17px;
	margin-top: 21px;
}

#u4929-4
{
	z-index: 35;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 20px;
	font-family: Courier New, Courier, monospace;
}

#u4929-4-bw
{
	z-index: 35;
	min-height: 21px;
}

#music
{
	left: -760px;
	margin-top: 1779px;
	position: relative;
}

#pu4911
{
	width: 0.01px;
	margin-left: -759px;
	margin-top: 47px;
}

#u4911
{
	z-index: 3;
	height: 1080px;
	background-color: #000000;
}

#u4911-bw
{
	z-index: 3;
	height: 1080px;
}

#u4928
{
	z-index: 34;
	width: 1127px;
	min-height: 508px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 387px;
}

#u4930-4
{
	z-index: 39;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	text-align: center;
	letter-spacing: 20px;
	font-family: Courier New, Courier, monospace;
}

#u4930-4-bw
{
	z-index: 39;
	min-height: 100px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1015px;
}

#pu4913
{
	width: 0.01px;
	margin-left: -759px;
}

#u4913
{
	z-index: 7;
	min-height: 504px;
	background-color: #000000;
	padding-bottom: 576px;
}

#u5017
{
	z-index: 95;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: -2px;
}

#u4913-bw
{
	z-index: 7;
	min-height: 504px;
}

#u4914
{
	z-index: 8;
	min-height: 1080px;
	background-color: #000000;
}

#u4914_position_content
{
	padding-top: 228px;
	width: 100%;
}

#u4977
{
	z-index: 64;
	width: 661px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	left: -140px;
	position: relative;
}

#pamphletu5004
{
	z-index: 65;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
}

#u5013
{
	z-index: 66;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5014
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../../images/20151002_214143-u5014-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5014:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../../images/20151002_214143-u5014-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u5009
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -146px;
	-pie-background: rgba(0,0,0,0.9);
}

#u5009popup
{
	z-index: 68;
}

#u5010
{
	z-index: 69;
	width: 903px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 11px 14px 10px 13px;
}

#u5012
{
	z-index: 70;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/20151002_214143.jpg") no-repeat center center;
	background-size: cover;
}

#u5011-4
{
	z-index: 71;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 9px;
	position: relative;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#pamphletu4991
{
	z-index: 75;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u4992
{
	z-index: 76;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4993
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../../images/wash02-u4993-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4993:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../../images/wash02-u4993-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u4994
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -393px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4994popup
{
	z-index: 78;
}

#u4995
{
	z-index: 79;
	width: 903px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 11px 14px 10px 13px;
}

#u4997
{
	z-index: 80;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/wash02.jpg") no-repeat center center;
	background-size: cover;
}

#u4996-4
{
	z-index: 81;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 9px;
	position: relative;
}

#pamphletu4978
{
	z-index: 85;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	left: 473px;
}

#u4989
{
	z-index: 86;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4990
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../../images/wash01-u4990-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4990:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../../images/wash01-u4990-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u4983
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -621px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4983popup
{
	z-index: 88;
}

#u4984
{
	z-index: 89;
	width: 903px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 11px 14px 10px 13px;
}

#u4986
{
	z-index: 90;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/wash01.jpg") no-repeat center center;
	background-size: cover;
}

#u4985-4
{
	z-index: 91;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 9px;
	position: relative;
}

#u4974
{
	z-index: 61;
	width: 660px;
	height: 412px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -140px;
	margin-top: 60px;
	position: relative;
}

#u4975
{
	z-index: 62;
	width: 660px;
	height: 412px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
	position: relative;
	margin-right: -10000px;
}

#u4919
{
	z-index: 22;
	width: 243px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 80px;
	margin-top: 198px;
	position: relative;
}

#u4924
{
	z-index: 24;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../../images/facebook.png") no-repeat center center;
}

#u4924:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #141414 url("../../images/facebook.png") no-repeat center center;
}

#ppu4922
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 51px;
}

#pu4922
{
	width: 0.01px;
	margin-left: 1px;
}

#u4922
{
	z-index: 25;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../../images/vimeo.png") no-repeat center center;
}

#u4922:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #141414 url("../../images/vimeo.png") no-repeat center center;
}

#u4921
{
	z-index: 23;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: #7F7F7F url("../../images/twitter.png") no-repeat center center;
}

#u4921:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #141414 url("../../images/twitter.png") no-repeat center center;
}

#u4920
{
	z-index: 26;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 104px;
	background: #7F7F7F url("../../images/youtube.png") no-repeat center center;
}

#u4920:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #141414 url("../../images/youtube.png") no-repeat center center;
}

#u4925-4
{
	z-index: 28;
	width: 141px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u4923
{
	z-index: 27;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
	background: #7F7F7F url("../../images/soundcloud.png") no-repeat center center;
}

#u4923:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #141414 url("../../images/soundcloud.png") no-repeat center center;
}

#u4914-bw
{
	z-index: 8;
	min-height: 1080px;
	margin-top: 1032px;
}

#u4915-4
{
	z-index: 9;
	min-height: 120px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 20px;
	line-height: 72px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
}

#u4915-4-bw
{
	z-index: 9;
	min-height: 120px;
}

#u4916-4
{
	z-index: 13;
	min-height: 120px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 20px;
	line-height: 72px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
}

#u4916-4-bw
{
	z-index: 13;
	min-height: 120px;
	margin-top: 1079px;
}

#u4931-4
{
	z-index: 43;
	width: 749px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 575px;
}

#u4932-5
{
	z-index: 47;
	width: 1196px;
	min-height: 94px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 608px;
	left: 352px;
}

#u4932-2
{
	font-weight: bold;
}

#u4933-8
{
	z-index: 52;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 521px;
	left: 661px;
}

#gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1014px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

