.version.bio /* version checker */
{
	color: #0000EE;
	background-color: #69CDB2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 827px;
	min-height: 500.9994999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 228px 96px 135.0005000000001px 97px;
}

#pamphletu2180
{
	z-index: 2;
	width: 0.01px;
	height: 501px;
	left: -1px;
	position: relative;
}

#u2181
{
	position: absolute;
	width: 827px;
	background-color: transparent;
}

#u2181popup
{
	z-index: 3;
}

#u2182
{
	z-index: 4;
	width: 827px;
	height: 498px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2189
{
	z-index: 5;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 1px;
}

#u2190
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.ie #u2182,.ie #u2190
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2190.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2190.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1020px;
}

