.version.index /* version checker */
{
	color: #000017;
	background-color: #705230;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1752.5701149425277px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -65px;
	width: 100%;
}

#top
{
	position: relative;
}

#menuu2642
{
	z-index: 62;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
}

#u2650
{
	min-height: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.9%;
}

#u2651
{
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u2651:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2653-5
{
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u2651:hover #u2653-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2651.MuseMenuActive #u2653-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2651:hover #u2653-5 p,#u2651:hover #u2653-5 span
{
	color: #787878;
	visibility: inherit;
}

#u2653
{
	font-size: 1px;
	line-height: 0px;
}

#u3034:hover
{
	min-height: 0px;
	margin: 0px;
}

#u3026
{
	z-index: 70;
	width: 140px;
	background-color: transparent;
}

#u3026_img
{
	padding-bottom: 1px;
	vertical-align: bottom;
}

#u2836
{
	min-height: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.9%;
	left: 20%;
}

#u2839
{
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
	width: 100%;
}

#u2651.MuseMenuActive,#u2839:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2840-4
{
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u2839:hover #u2840-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2839:hover #u2840-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2815
{
	min-height: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.9%;
	left: 40%;
}

#u2818
{
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
	width: 100%;
}

#u2839.MuseMenuActive,#u2818:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2819-4
{
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u2839.MuseMenuActive #u2840-4,#u2818:hover #u2819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2818:hover #u2819-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2794
{
	min-height: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.95%;
	left: 60%;
}

#u2797
{
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
	width: 100%;
}

#u2818.MuseMenuActive,#u2797:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2798-4
{
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u2818.MuseMenuActive #u2819-4,#u2797:hover #u2798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2797:hover #u2798-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2773
{
	min-height: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.95%;
	left: 80.06%;
}

#u2776
{
	background-color: transparent;
	padding-bottom: 44px;
	position: relative;
	width: 100%;
}

#u2797.MuseMenuActive,#u2776:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2776.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u2777-4
{
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u2797.MuseMenuActive #u2798-4,#u2776:hover #u2777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2776.MuseMenuActive #u2777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u2776:hover #u2777-4 p
{
	color: #787878;
	visibility: inherit;
}

#u2651.MuseMenuActive #u2653-5 p,#u2651.MuseMenuActive #u2653-5 span,#u2839.MuseMenuActive #u2840-4 p,#u2818.MuseMenuActive #u2819-4 p,#u2797.MuseMenuActive #u2798-4 p,#u2776.MuseMenuActive #u2777-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
}

#menuu2642-bw
{
	z-index: 62;
}

#u3372
{
	height: 1080px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
	position: relative;
	left: -50%;
	margin-left: 950px;
	width: 100%;
	max-width: 1900px;
}

#u3372-wrapper
{
	position: fixed;
	top: 65px;
	z-index: 2;
	left: 50%;
	margin-left: -950px;
	width: 100%;
	max-width: 1900px;
}

#live
{
	margin-top: 1132px;
	position: relative;
}

#pu3604-3
{
	margin-top: 42px;
	width: 100%;
}

#u3604-3
{
	z-index: 4;
	min-height: 1080px;
	background-color: #000000;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3604-3-bw
{
	z-index: 4;
	min-height: 1080px;
}

#u3354-5
{
	z-index: 18;
	min-height: 133px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 22px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
}

#u3354-5-bw
{
	z-index: 18;
	min-height: 133px;
	margin-top: 100px;
}

#u3597-4
{
	z-index: 36;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	text-align: center;
	letter-spacing: 20px;
	font-family: Courier New, Courier, monospace;
}

#u3597-4-bw
{
	z-index: 36;
	min-height: 100px;
}

#u3409
{
	z-index: 3;
	min-height: 1033px;
	background-color: #000000;
	padding-bottom: 47px;
}

#u3409_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1900px;
}

#u3579
{
	z-index: 35;
	min-height: 508px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	width: 59.32%;
	margin-left: 20.35%;
	left: 1px;
}

#u3409-bw
{
	z-index: 3;
	min-height: 1033px;
}

#u3695-4
{
	z-index: 40;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 72px;
	font-size: 60px;
	text-align: center;
	letter-spacing: 20px;
	font-family: Courier New, Courier, monospace;
}

#u3695-4-bw
{
	z-index: 40;
	min-height: 100px;
}

#pu3409,#pu3643
{
	width: 100%;
}

#u3643
{
	z-index: 7;
	min-height: 1079.625px;
	background-color: #000000;
	padding-bottom: 0px;
}

#u3643_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1900px;
	padding-top: 238px;
	padding-bottom: 377px;
}

#u4595
{
	z-index: 131;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -193px;
}

#u3652-8
{
	z-index: 53;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	margin-top: 17px;
	position: relative;
	width: 30.48%;
	margin-left: 34.77%;
	left: 1px;
}

#u3651-5
{
	z-index: 48;
	min-height: 94px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 18px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
	width: 62.95%;
	margin-left: 18.53%;
	left: 0px;
}

#u3651-2
{
	font-weight: bold;
}

#u3643-bw
{
	z-index: 7;
	min-height: 1079.625px;
}

#u3725
{
	z-index: 8;
	min-height: 1079.6314575645765px;
	background-color: #000000;
	padding-bottom: 0px;
}

#u3725_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1900px;
	padding-top: 228px;
	padding-bottom: 257px;
}

#u4584
{
	z-index: 100;
	width: 661px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-left: 50%;
	left: -330px;
}

#pamphletu4424
{
	z-index: 101;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -331px;
}

#u4435
{
	z-index: 102;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4436
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/20151002_214143-u4436-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4436:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../images/20151002_214143-u4436-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u4429
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -146px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4429popup
{
	z-index: 104;
}

#u4430
{
	z-index: 105;
	width: 930px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 11px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4432
{
	z-index: 106;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 13px;
	position: relative;
	background: transparent url("../images/20151002_214143.jpg") no-repeat center center;
	background-size: cover;
}

#u4431-4
{
	z-index: 107;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pamphletu4502
{
	z-index: 111;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -94px;
}

#u4507
{
	z-index: 112;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4508
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/wash02-u4508-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4508:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../images/wash02-u4508-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u4503
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -393px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4503popup
{
	z-index: 114;
}

#u4504
{
	z-index: 115;
	width: 930px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 11px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4506
{
	z-index: 116;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 13px;
	position: relative;
	background: transparent url("../images/wash02.jpg") no-repeat center center;
	background-size: cover;
}

#u4505-4
{
	z-index: 117;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#pamphletu4541
{
	z-index: 121;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 143px;
}

#u4546
{
	z-index: 122;
	width: 188px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4547
{
	position: absolute;
	width: 186px;
	height: 121px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/wash01-u4547-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u4547:hover
{
	width: 186px;
	height: 121px;
	min-height: 0px;
	margin: 0px;
	background: #E7E7E7 url("../images/wash01-u4547-r-fr.png") no-repeat center center;
	background-color: rgba(222,222,222,0.7);
	background-size: cover;
}

#u4548
{
	position: absolute;
	width: 974px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -61px;
	left: -621px;
	-pie-background: rgba(0,0,0,0.9);
}

#u4548popup
{
	z-index: 124;
}

#u4549
{
	z-index: 125;
	width: 930px;
	height: 566px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 11px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4550
{
	z-index: 126;
	width: 903px;
	height: 511px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 13px;
	position: relative;
	background: transparent url("../images/wash01.jpg") no-repeat center center;
	background-size: cover;
}

#u4551-4
{
	z-index: 127;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	line-height: 22px;
	text-align: left;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u4409
{
	z-index: 97;
	width: 660px;
	height: 412px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
	margin-left: 50%;
	left: -330px;
}

#u4399
{
	z-index: 98;
	width: 660px;
	height: 412px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -330px;
}

#u3725-bw
{
	z-index: 8;
	min-height: 1079.6314575645765px;
	margin-top: 1033px;
}

#u3412-4
{
	z-index: 9;
	min-height: 120px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 20px;
	line-height: 72px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
}

#u3412-4-bw
{
	z-index: 9;
	min-height: 120px;
	margin-top: 1px;
}

#u3728-4
{
	z-index: 13;
	min-height: 120px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 60px;
	letter-spacing: 20px;
	line-height: 72px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
}

#u3728-4-bw
{
	z-index: 13;
	min-height: 120px;
	margin-top: 1080px;
}

#u3650-4
{
	z-index: 44;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	width: 39.43%;
	margin-left: 30.29%;
	left: -1px;
}

#music,#about,#gallery
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1015px;
}

#u3676
{
	z-index: 23;
	width: 243px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 60px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -111px;
}

#u3246
{
	z-index: 25;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: -111px;
	background: #7F7F7F url("../images/facebook.png") no-repeat center center;
}

#u3246:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px -111px;
	background: #141414 url("../images/facebook.png") no-repeat center center;
}

#ppu3247
{
	width: 0.01px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -60px;
}

#ppu3247_position_content
{
	margin-top: -4251px;
	padding-bottom: 4311px;
	width: 100%;
}

#pu3247
{
	width: 0.01px;
	padding-bottom: 35px;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: -59px;
}

#u3247
{
	z-index: 26;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: -59px;
	background: #7F7F7F url("../images/vimeo.png") no-repeat center center;
}

#u3247:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px -59px;
	background: #141414 url("../images/vimeo.png") no-repeat center center;
}

#u3245
{
	z-index: 24;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: -7px;
	background: #7F7F7F url("../images/twitter.png") no-repeat center center;
}

#u3245:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px -7px;
	background: #141414 url("../images/twitter.png") no-repeat center center;
}

#u3248
{
	z-index: 27;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: 45px;
	background: #7F7F7F url("../images/youtube.png") no-repeat center center;
}

#u3248:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 45px;
	background: #141414 url("../images/youtube.png") no-repeat center center;
}

#u3250-4
{
	z-index: 29;
	width: 141px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -60px;
}

#u3249
{
	z-index: 28;
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-color: transparent;
	position: fixed;
	bottom: 26px;
	left: 50%;
	margin-left: 97px;
	background: #7F7F7F url("../images/soundcloud.png") no-repeat center center;
}

#u3249:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 97px;
	background: #141414 url("../images/soundcloud.png") no-repeat center center;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 800px;
}

