.version.music /* version checker */
{
	color: #0000FA;
	background-color: #2F385B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 590px;
	min-height: 541px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 220px 215px 143px;
}

#pamphletu2132
{
	z-index: 2;
	width: 0.01px;
	height: 507px;
	padding-bottom: 34px;
	position: relative;
}

#u2141
{
	z-index: 3;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 84px;
}

#u2142
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.ie #u2142
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2142.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px;
}

.ie #u2142.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2133
{
	position: absolute;
	width: 589px;
	background-color: transparent;
}

#u2133popup
{
	z-index: 5;
}

#u2134
{
	z-index: 6;
	width: 589px;
	height: 541px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2594
{
	z-index: 7;
	width: 579px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 5px;
}

#u2129
{
	z-index: 8;
	width: 579px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1978-4
{
	z-index: 9;
	width: 579px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 22px;
	text-align: center;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1020px;
}

